.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.div-center {
  margin: 0px auto;
}
a {
  color: #fff !important;
}
.navbar a:hover {
  color: #00337a !important
}
.active {
  color: #00337a !important
}
#root {
  padding-top: 0px !important;
}
.copy-right {
  color: #fff !important;
}
.bg-dark-ash {
  background-color: #7a93b7!important;
}
.container.customer-div{
  margin-top: 45px;
  border: 2px solid #7a93b7;
  border-radius: 10px;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}